* {
    padding: 0;
    margin: 0;
}

.image1 {
    background-image: url(/Images/bg1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-attachment: fixed;
}

#intro {
    text-align: center;
    color: black;
    font-size: 45px;
    padding-top: 50vh;

}

h1 {
    text-align: center;
}

.text_2 {
    padding-top: 5vh;
    background-color: white;
    border: 2px solid white;
    color: black;
    padding-bottom: 5vh;
}

.image2 {
    background-image: url(/Images/bg2.avif);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-attachment: fixed;
}


#intro2 {
    text-align: center;
    color: white;
    font-size: 45px;
    padding-top: 60vh;
}

.text_3 {
    padding-top: 5vh;
    background-color: rgb(39, 38, 38);
    color: white;
    padding-bottom: 5vh;
}

.image3 {
    background-image: url(/Images/bg3.avif);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-attachment: fixed;
}

#intro3 {
    text-align: center;
    color: white;
    font-size: 45px;
    padding-top: 60vh;
}